---
export const prerender = false

import Layout from '../layouts/layout.astro'
import PlanCard, { type Props } from '../components/page-components/common/plan-card.astro'
import ColumnCard from '../components/page-components/home/column-card.astro'
import FlowStep from '../components/page-components/home/flow-step.astro'
import { VoiceCards } from '../components/page-components/home/voice-cards'

import { Icon } from 'astro-icon/components'
import FaqAccordions from '../components/page-components/home/faq-accordions'
import { PostsApi, GalleryItemsApi } from '../lib/api'

const { posts } = await PostsApi.list({
	skip: 0,
	take: 3
})

const { items } = await GalleryItemsApi.list({ take: 12, skip: 0 })
---

<Layout title="Oath and ours">
	<!-- Hero section 1 -->

	<div class="relative max-h-[630px] w-full bg-peach md:max-h-[unset] md:pb-[106px]">
		<div class="relative flex min-h-screen w-full items-center">
			<div
				class="relative top-16 z-10 mr-5 flex flex-col items-end gap-8 text-[25px] tracking-[0.4rem] md:top-0 md:ml-[100px] md:mr-0 md:items-start md:text-[54px]"
			>
				<div
					class="max-w-max text-nowrap bg-white/90 px-[12px] py-[6px] leading-[30px] md:px-[26px] md:leading-[64px]"
				>
					8000本の花で彩る
				</div>
				<div
					class="max-w-max bg-white/90 px-[12px] py-[6px] leading-[30px] md:px-[26px] md:leading-[64px]"
				>
					結婚の誓いを一枚の写真に
				</div>
			</div>
			<img
				class="absolute right-0 top-0 aspect-[75/100] max-h-[630px] w-full overflow-hidden rounded-bl-[50px] object-cover object-top md:aspect-[19/10] md:h-full md:max-h-[unset] md:w-auto md:rounded-bl-[250px]"
				src="/hero.jpg"
				alt="A wedding picture"
			/>
		</div>
	</div>

	<!-- Hero section 2 -->
	<div
		class="flex min-h-screen w-full items-center justify-end pb-[100px] pt-[116px] xl:pb-[172px] xl:pt-[172px]"
	>
		<div class="flex w-full flex-col items-center xl:w-auto xl:flex-row xl:gap-24">
			<div
				class="flex w-full max-w-max flex-col items-center self-start pl-[10px] md:pl-0 xl:hidden"
			>
				<h2 class="text-[70px] font-semibold leading-[84px] md:text-[93px]">STUDIO</h2>
				<div class="flex w-full items-center gap-4">
					<span class="h-1 w-full bg-black"></span>
					<p class="shrink-0 text-[35px]">スタジオ紹介</p>
				</div>
			</div>
			<div class="hidden flex-col xl:flex">
				<h2 class="max-w-[40rem] text-[42px] leading-[71px]">
					お二人の「やりたい」を <br />
					全て叶えるスタジオ
				</h2>
				<p class="mt-[71px] max-w-[45rem] text-[24px] leading-[37px]">
					1万本の花が演出するロマンティックな雰囲気を再現した洋装スタジオから、日本の美を凝縮した和装スタジオ、時にはスタジオを飛び出してロケーション撮影まで。お二人のやりたいを叶えた特別な瞬間を写真に収めます。
				</p>
				<a class="ml-auto mt-[61px] flex w-full max-w-[192px] items-center gap-2" href="/studio">
					<span class="shrink-0">詳しく知る</span>
					<span class="h-1 w-full bg-black"></span>
				</a>
			</div>
			<img
				class="mt-12 min-h-[332px] max-w-[90%] self-end overflow-hidden rounded-l-[100px] object-cover xl:mt-0 xl:max-w-[864px]"
				src="/hero-2.jpg"
				alt="A wedding picture"
			/>
			<div class="mt-8 flex flex-col gap-10 px-7 xl:hidden">
				<p class="text-xl leading-[24px] md:text-2xl">
					テキストが入ります。テキストが 入ります。テキストが入ります。 テキストが入ります。
				</p>
				<p class="text-sm leading-[16px] md:text-base">
					テキストが入ります。テキストが入ります。テキスト
					が入ります。テキストが入ります。テキストが入りま
					す。テキストが入ります。テキストが入ります。テキ
					ストが入ります。テキストが入ります。テキストが入
					ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキスト
					が入ります。テキストが入ります。テキストが入りま
					す。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキスト
					が入ります。テキストが入ります。
				</p>
				<a class="mx-auto flex items-center gap-2" href="/studio">
					<p class="shrink-0 text-lg">詳しく知る</p>

					<span class="h-1 w-[90px] bg-black"></span>
				</a>
			</div>
		</div>
	</div>

	<!-- Gallery section -->
	<div
		class="flex min-h-screen flex-col rounded-t-[60px] bg-peach py-[120px] md:rounded-t-[150px] md:py-[184px]"
	>
		<div class="self-center page-container">
			<div
				class="ml-auto flex w-full max-w-max flex-col items-center pr-[10px] text-[#333333] md:pr-0"
			>
				<h2 class="text-[70px] font-semibold leading-[84px] english md:text-[93px]">GALLERY</h2>
				<div class="flex w-full items-center gap-4">
					<span class="h-1 w-full bg-[#333333]"></span>
					<p class="shrink-0 text-[20px] md:text-[35px]">ギャラリー</p>
				</div>
			</div>
		</div>
		<div class="my-[76px] flex flex-col md:my-6">
			<span class="hidden text-[83px] font-light leading-[99px] text-white english md:inline-block"
				>Dress</span
			>
			<div class="gallery grid grid-cols-2 md:grid-cols-6">
				{
					items.map((item) => {
						return <Fragment set:html={item.media_html} />
					})
				}
			</div>
			<span
				class="ml-auto hidden text-[83px] font-light leading-[99px] text-white english md:inline-block"
				>Kimono</span
			>
		</div>
		<div class="flex flex-col gap-8 self-center">
			<div class="flex items-center gap-2">
				<p class="shrink-0 text-lg">もっと見る</p>

				<span class="h-1 w-full bg-black"></span>
			</div>
			<div class="flex items-end gap-3 text-base font-bold">
				<Icon class="aspect-square h-auto w-[30px]" name={'instagram'} />
				<p>
					<span class="font-bold">Instagram</span>をチェック
				</p>
			</div>
		</div>
	</div>

	<!-- Plan section -->
	<div class="mx-auto py-[125px] page-container md:py-[180px]">
		<div class="flex max-w-max flex-col items-center pl-[10px] md:pl-0">
			<h2 class="text-[70px] font-semibold leading-[84px] text-[#333333] english md:text-[93px]">
				PLAN
			</h2>
			<div class="flex w-full items-center gap-4">
				<span class="h-1 w-full bg-[#333333]"></span>
				<p class="shrink-0 text-[20px] md:text-[35px]">プラン紹介</p>
			</div>
		</div>

		<div class="mt-[72px]">
			<div class="flex flex-col items-center gap-[70px] md:gap-[50px]">
				{
					[
						{
							image: {
								src: './pricing-plans/1.jpg',
								alt: 'A couple together in wedding attire '
							},
							heading: '1万本の花で演出するロマンティックな洋風スタジオ',
							title: '洋装スタジオフォト',
							body: 'ウェデイングドレスもカラードレスも選び放題。もちろん、衣装ランクアップや洋装小物ランクアップも追加料金なしで撮影可能です。貸出小物も多数取り揃えております',
							subItems: ['データ120カット付で問い合わせる', '3背景以上', '撮影時間1時間半'],
							price: '150,000',
							ctaLink: '#'
						},
						{
							image: {
								src: './pricing-plans/2.jpg',
								alt: 'A couple together in wedding attire '
							},
							heading: '日本の美を凝縮した和風スタジオ',
							title: '和装スタジオフォト',
							body: '白無垢も色打掛も選び放題。お母様の黒留袖セット付きプランも。洋装スタジオフォトと同じく、衣装ランクアップや和装小物ランクアップも追加料金なしで撮影可能です。',
							subItems: ['データ120カット付', '3背景以上', '撮影時間1時間半'],
							price: '170,000',
							ctaLink: '#'
						},
						{
							image: {
								src: './pricing-plans/3.jpg',
								alt: 'A couple together in wedding attire '
							},
							heading: '和も洋も、お二人の全ての美を残したいあなたへ',
							title: '和洋装スタジオフォト',
							body: 'ウェディングドレス、カラードレス、白無垢、色打掛から全部で4着も着られるプラン。全データお渡し可能、和装・洋装衣装のランクアップ、和洋小物ランクアップ料金もなしで撮影可能です。',
							subItems: ['データ240カット付', '全背景使用', '撮影時間3時間'],
							price: '210,000',
							ctaLink: '#'
						},
						{
							image: {
								src: './pricing-plans/4.jpg',
								alt: 'A couple together in wedding attire '
							},
							heading: '富山県内なら許可が取れればどこでもOK',
							title: '洋装ロケーションフォト',
							body: 'ナチュラルからスタイリッシュ、デイフォトからナイトフォトまで、お二人の想い出の場所をもっと特別な場所に。富山県内なら許可が取れればどこでも撮影可能。衣装や撮影小物等の持ち込み料金も無料です。',
							subItems: ['データ180カット付', '撮影時間1時間半'],
							price: '180,000',
							ctaLink: '#'
						},
						{
							image: {
								src: './pricing-plans/5.jpg',
								alt: 'A couple together in wedding attire '
							},
							heading: '富山県内なら許可が取れればどこでもOK',
							title: '和装ロケーションフォト',
							body: 'レトロな町並みから屋外庭園、映画のセットのような歴史ある場所での撮影もOKです。富山県内なら許可が取れればどこでも撮影可能。衣装や撮影小物等の持ち込み料金も無料です。',
							subItems: ['データ180カット付', '撮影時間1時間半'],
							price: '200,000',
							ctaLink: '#'
						},
						{
							image: {
								src: './pricing-plans/6.jpg',
								alt: 'A couple together in wedding attire '
							},
							heading: '好きな場所、好きな衣装で想い出を残したいあなたへ',
							title: '和洋装ロケーションフォト',
							body: '和装と洋装迷ったら…そんなあなたにおすすめのプラン。300カット以上の撮影データお渡し可能。富山県内なら許可が取れればどこでも撮影、衣装や撮影小物等の持ち込み料金も無料です。',
							subItems: ['データ360カット付', '撮影時間3時間'],
							price: '240,000',
							ctaLink: '#'
						}
					].map((item) => {
						return (
							<PlanCard
								image={item.image}
								heading={item.heading}
								title={item.title}
								body={item.body}
								subItems={item.subItems}
								price={item.price}
								ctaLink={item.ctaLink}
							/>
						)
					})
				}
			</div>
			<div class="mt-[60px] flex flex-col gap-[14px]">
				<span>※各プラン土日祝：+20,000円</span>
				<span>※撮影データはダウンロードリンクでお渡しいたします。</span>
			</div>
		</div>
	</div>

	<!-- Column section -->
	<div
		class="flex flex-col overflow-hidden rounded-t-[60px] bg-peach pb-[150px] pt-[145px] text-[#333333] md:rounded-t-[150px] md:pt-[184px]"
	>
		<div class="self-center page-container">
			<div class="ml-auto flex w-full max-w-max flex-col items-center pr-[10px] md:pr-0">
				<h2 class="text-[70px] font-semibold leading-[84px] english md:text-[93px]">COLUMN</h2>
				<div class="flex w-full items-center gap-4">
					<span class="h-1 w-full bg-[#333333]"></span>
					<p class="shrink-0 text-[20px] md:text-[35px]">スタッフコラム</p>
				</div>
			</div>
		</div>
		<div class="mt-16 flex flex-col items-center gap-[70px] self-center px-5 md:flex-row">
			{
				posts.map((post) => {
					return <ColumnCard post={post} />
				})
			}
		</div>
	</div>

	<!-- Flow section -->
	<div class="mx-auto w-full pb-[105px] pt-[148px] page-container md:pt-[180px]">
		<div class="flex max-w-max flex-col items-center pl-[10px] md:pl-0">
			<h2 class="text-[70px] font-semibold leading-[84px] text-[#333333] english md:text-[93px]">
				FLOW
			</h2>
			<div class="flex w-full items-center gap-4">
				<span class="h-1 w-full bg-[#333333]"></span>
				<p class="shrink-0 text-[20px] md:text-[35px]">撮影の流れ</p>
			</div>
		</div>

		<div class="mt-[100px] flex w-full flex-col items-center px-8">
			{
				[
					{
						image: '/flow-steps/1.jpeg',
						title: 'まずは当スタジオの全てが分かるLINEに登録！',
						body: `当スタジオのLINE公式アカウントよりお友達登録をお願いします。スタジオのブースやおすすめロケ地が見られたり、料金プラン詳細やドレスの種類の確認など、LINE公式アカウントでしか見られない「当スタジオの全て」が盛り沢山です！`
					},
					{
						image: '/flow-steps/2.jpg',
						title: '空き日程のご確認・相談ご予約',
						body: `当スタジオのご予約システムより、空き日程のご確認やご来店・オンライン相談予約が可能です。ご予約はカンタン1分、画面の指示に従ってご予約をお願い致します！`
					},
					{
						image: '/flow-steps/3.jpg',
						title: 'ご来店・お打ち合わせ・衣装選び',
						body: `当スタジオにご来店頂き、撮影の場所や衣装、スケジュールなどをお客様のご希望に寄り添いながらお打ち合わせさせて頂きます。当スタジオは追加料金なしでオプション選び放題、またロケーション撮影につきましても富山県内であれば許可が取れればどこでも撮影可能となっておりますので、お客様のご要望に沿ったプランをご提案させて頂きます。`
					},
					{
						image: '/flow-steps/4.jpg',
						title: '楽しく撮影♪',
						body: `「インスタで見たあのポーズが撮りたい！」「ふたりの定番ポーズがあるんです！」など、リクエストがあればどんどんお申し付けください！当スタジオでは「楽しい撮影」もモットーの1つなので、お二人の一生の想い出に残るような撮影時間を提供させて頂きます♪もちろん、「全部カメラマンにおまかせ」もありです！`
					},
					{
						image: '/flow-steps/5.jpg',
						title: '納品',
						body: `撮影が完了しましたら、後日ご自宅へ撮影写真をお届けさせて頂きます。お支払いは現金・クレジットカード・QRコード決済からお支払い可能です。`
					}
				].map((item, idx) => {
					const isLast = idx === 4
					return (
						<>
							<FlowStep
								step={`${idx + 1}`.padStart(2, '0')}
								title={item.title}
								body={item.body}
								image={item.image}
							/>
							{!isLast ? <Icon name="down-arrow" class="mb-[30px] mt-[39px] h-5 w-5" /> : null}
						</>
					)
				})
			}
		</div>
	</div>

	<!-- Voice section -->
	<div
		class="flex flex-col rounded-t-[60px] bg-peach pb-[150px] pt-[184px] english md:rounded-t-[150px]"
	>
		<VoiceCards client:load />
	</div>

	<!-- FAQ section -->
	<div class="mx-auto pb-[102px] pt-[126px] page-container english md:pb-[152px] md:pt-[180px]">
		<div class="flex max-w-[326px] flex-col items-start pl-[10px] text-[#333333] md:pl-0">
			<h2 class="text-[70px] font-semibold leading-[84px] md:text-[93px]">FAQ</h2>
			<div class="flex w-full items-center gap-4">
				<span class="h-1 w-full bg-[#333333]"></span>
				<p class="shrink-0 text-[20px] md:text-[35px]">よくある質問</p>
			</div>
		</div>
		<div class="mt-[67px] px-5">
			<FaqAccordions
				client:load
				items={[
					{
						title: '撮影予定日、雨天の場合は延期できますか？',
						content: 'ございます！ 和装も洋装も様々な小物ご用意ございますので、お使いくださいませ。'
					},
					{
						title: '貸し出し小物はありますか？',
						content: 'ございます！ 和装も洋装も様々な小物ご用意ございますので、お使いくださいませ。'
					},
					{
						title: '髪飾りのレンタルはありますか？',
						content: 'ございます！ 和装も洋装も様々な小物ご用意ございますので、お使いくださいませ。'
					},
					{
						title: '腕や顔のレタッチはできますか？',
						content: 'ございます！ 和装も洋装も様々な小物ご用意ございますので、お使いくださいませ。'
					},
					{
						title: '当日の持ち物はなんですか？',
						content: 'ございます！ 和装も洋装も様々な小物ご用意ございますので、お使いくださいませ。'
					},
					{
						title: '持ち込み料かかりますか？',
						content: 'ございます！ 和装も洋装も様々な小物ご用意ございますので、お使いくださいませ。'
					},
					{
						title: 'ロケーション撮影の際、クリーニング代はかかりますか？',
						content: 'ございます！ 和装も洋装も様々な小物ご用意ございますので、お使いくださいませ。'
					},
					{
						title: 'カメラマンは男性か女性選べますか？',
						content: 'ございます！ 和装も洋装も様々な小物ご用意ございますので、お使いくださいませ。'
					},
					{
						title: '家族撮影可能ですか？',
						content: 'ございます！ 和装も洋装も様々な小物ご用意ございますので、お使いくださいませ。'
					},
					{
						title: 'ペットと撮影は可能ですか？',
						content: 'ございます！ 和装も洋装も様々な小物ご用意ございますので、お使いくださいませ。'
					},
					{
						title: '子持ちですが、子供も衣装を着て撮影はできますか？',
						content: 'ございます！ 和装も洋装も様々な小物ご用意ございますので、お使いくださいませ。'
					},
					{
						title: '結婚式で使うオープニングムービーは撮れますか？',
						content: 'ございます！ 和装も洋装も様々な小物ご用意ございますので、お使いくださいませ。'
					},
					{
						title: '母と父の黒留袖やモーニングコートはありますか？',
						content: 'ございます！ 和装も洋装も様々な小物ご用意ございますので、お使いくださいませ。'
					},
					{
						title: 'データ納品最短どれくらいですか？',
						content: 'ございます！ 和装も洋装も様々な小物ご用意ございますので、お使いくださいませ。'
					}
				]}
			/>
		</div>
	</div>
</Layout>
<style>
	.gallery {
		img,
		video {
			@apply aspect-square h-auto w-full object-cover;
		}
	}
</style>
