---
import { LINEUrl } from '../../../constants'

export interface Props {
	image: {
		src: string
		alt: string
	}
	heading: string
	title: string
	body: string
	subItems: string[]
	price: string
	ctaLink: string
}

const { image, heading, title, body, subItems, price } = Astro.props
---

<div
	class="flex w-full flex-col overflow-hidden rounded-[20px] shadow-lg md:flex-row md:even:flex-row-reverse"
>
	<img
		src={image.src}
		class="aspect-[107/100] w-full object-cover md:aspect-[unset]"
		alt={image.alt}
	/>
	<div class="flex w-full flex-col items-center px-10 py-10 text-center">
		<div
			class="rounded-[5px] bg-peach p-[11px] text-sm font-bold leading-[16px] md:text-[19px] md:text-base"
		>
			{heading}
		</div>
		<b class="mt-4 text-[25px] font-bold leading-[30px] md:mt-5 md:text-[35px] md:leading-[42px]"
			>{title}</b
		>
		<p
			class="mt-6 max-w-[420px] text-justify text-sm font-medium leading-[16px] md:text-base md:leading-[33px]"
		>
			{body}
		</p>
		<div class="mt-[27px] flex flex-wrap items-center gap-3">
			{
				subItems.map((item) => {
					return (
						<button class="h-7 max-w-[160px] overflow-hidden text-nowrap rounded-[4.5px] border border-black px-2 text-center text-sm font-medium md:h-8 md:text-base">
							{item}
						</button>
					)
				})
			}
		</div>
		<div class="mt-[26px] flex items-baseline gap-2">
			<span class="text-base font-medium leading-[19px] english">¥</span>
			<b class="text-4xl font-medium leading-[43px] english">{price}</b>
			<p class="text-base font-medium leading-[19px]">(税込)</p>
		</div>
		<a
			href={LINEUrl}
			class="focus-visible:dark-lime mt-4 inline-flex h-[46px] items-center justify-center text-nowrap rounded-[5px] bg-lime px-8 font-bold text-white hover:bg-dark-lime"
			><span class="english">LINE</span><span>で問い合わせる</span></a
		>
	</div>
</div>
