---
export const prerender = false

import ImageHeader from '../../../components/page-components/common/image-header.astro'
import DashDot from '../../../components/ui/dash-dot.astro'
import Layout from '../../../layouts/layout.astro'
import { PostsApi } from '../../../lib/api'
import { formatDate } from '../../../lib/utils'
import HeroImage from '../../../../public/hero.jpg'

const { slug } = Astro.params

if (!slug) return Astro.redirect('/404')

const post = await PostsApi.get(slug)
if (!post) return Astro.redirect('/404')

const { categories } = post
const date = formatDate(post.date)
---

<Layout title="Column">
	<ImageHeader
		title="COLUMN"
		subtitle="コラム"
		image={HeroImage.src}
		alt="Wedding photo of a couple"
	/>
	<div
		class="mx-auto flex min-h-[600px] w-full flex-col px-5 pb-[100px] pt-[100px] page-container md:pb-[60px] md:pt-[60px]"
	>
		<div class="ml-auto flex flex-col items-end gap-[11px] md:flex-row-reverse md:items-center">
			<div class="flex items-center gap-[5px]">
				{
					categories[0] ? (
						<span class="shrink-0 rounded-[5px] bg-black px-[10px] py-[5px] text-sm leading-[22px] text-white">
							{categories[0].name}
						</span>
					) : null
				}
				{
					categories[1] ? (
						<span class="shrink-0 rounded-md bg-[#BB9C52] px-[10px] py-[5px] text-sm leading-[22px] text-white">
							{categories[1].name}
						</span>
					) : null
				}
			</div>
			<p class="text-sm font-medium leading-[22px]">{date}</p>
		</div>
		<div class="content mt-[57px] md:mt-[114px]">
			<Fragment set:html={post.content.rendered} />
		</div>
		<div class="mx-auto w-full max-w-[185px]">
			<DashDot className="ml-0" href="/column">
				<span class="shrink-0 text-lg">一覧に戻る</span>
			</DashDot>
		</div>
	</div>
</Layout>
<style>
	.content {
		h1 {
			@apply mb-[64px] text-[35px] font-bold leading-[42px] md:mb-[40px] md:leading-[57px];
		}

		h2 {
			@apply mb-[48px] text-[25px] font-semibold leading-[30px] md:mb-[40px] md:leading-[30px];
		}

		h3,
		h4,
		h5,
		h6 {
			@apply mb-[28px] text-[18px] font-semibold leading-[21px] md:mb-4;
		}

		p {
			@apply mb-[42px] text-base leading-[19px] md:mb-[56px] md:leading-[37px];
		}
	}
</style>
