---
import '@fontsource/noto-serif-jp'
import '@fontsource/lato/100.css'
import '@fontsource/lato/300.css'
import '@fontsource/lato/400.css'
import '@fontsource/lato/700.css'
import '@fontsource/lato/900.css'
import '../styles/globals.css'
import { ViewTransitions } from 'astro:transitions'
import { Icon } from 'astro-icon/components'
import NavbarDrawer from '../components/navbar-drawer'
import { LINEUrl } from '../constants'

interface Props {
	title: string
}

const { title } = Astro.props

const links = [
	{
		title: 'スタジオ紹介',
		subtitle: 'STUDIO',
		href: '/studio'
	},
	{
		title: 'ギャラリー',
		subtitle: 'GALLERY',
		href: '/gallery'
	},
	{
		title: 'コラム',
		subtitle: 'COLUMN',
		href: '/column'
	}
]
---

<!doctype html>
<html lang="en" transition:animate="none">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />

		<meta
			name="description"
			content="結婚の誓いを美しく永遠に残すブライダルフォトスタジオ。8,000本の花が演出するロマンティックな雰囲気を再現したスタジオと選びやすいプラン。ロケーション撮影では富山県内なら許可が取れればどこででも撮影可能！衣装や撮影小物などの持込料金も一切かかりません！ お気軽に何でもご相談ください。"
		/>
		<meta property="og:title" content="富山のフォトウェディングスタジオ【Oath&Ours】" />
		<meta
			property="og:description"
			content="結婚の誓いを美しく永遠に残すブライダルフォトスタジオ。8,000本の花が演出するロマンティックな雰囲気を再現したスタジオと選びやすいプラン。ロケーション撮影では富山県内なら許可が取れればどこででも撮影可能！衣装や撮影小物などの持込料金も一切かかりません！ お気軽に何でもご相談ください。"
		/>
		<meta property="og:image" content="/ogp.jpg" />
		<meta
			property="og:image:alt"
			content="結婚の誓いを美しく永遠に残すブライダルフォトスタジオ。8,000本の花が演出するロマンティックな雰囲気を再現したスタジオと選びやすいプラン。ロケーション撮影では富山県内なら許可が取れればどこででも撮影可能！衣装や撮影小物などの持込料金も一切かかりません！ お気軽に何でもご相談ください。"
		/>
		<meta property="og:locale" content="ja_JP" />
		<meta property="og:type" content="website" />
		<meta name="twitter:card" content="summary" />

		<title>{title}</title>
		<ViewTransitions />

		<!-- Google Tag Manager -->
		<script>
			;(function (w, d, s, l, i) {
				/* @ts-ignore */
				w[l] = w[l] || []
				/* @ts-ignore */
				w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' })
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != 'dataLayer' ? '&l=' + l : ''
				/* @ts-ignore */
				j.async = true
				/* @ts-ignore */
				j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
				/* @ts-ignore */
				f.parentNode.insertBefore(j, f)
			})(window, document, 'script', 'dataLayer', 'GTM-5CBNN4V6')
		</script>
		<!-- End Google Tag Manager -->
	</head>
	<body>
		<header class="flex h-20 w-full items-center justify-center">
			<div class="flex w-full items-center justify-between px-5 lg:hidden">
				<a
					href="/"
					class="flex h-[54px] w-[128px] items-center gap-4 hover:opacity-70 focus-visible:opacity-70"
				>
					<Icon class="aspect-[100/24] h-auto w-[192px]" name="logo" />
					<p class="sr-only">Home page</p>
				</a>
				<NavbarDrawer client:load />
			</div>

			<div class="mx-auto hidden h-full w-full items-center justify-between page-container lg:flex">
				<a href="/" class="flex items-center gap-4 hover:opacity-70 focus-visible:opacity-70">
					<Icon class="aspect-[100/24] h-auto w-[192px]" name="logo" />
					<p class="sr-only">Home page</p>
				</a>
				<div class="flex h-full items-center gap-[44px]">
					{
						links.map((link) => {
							return (
								<a class="flex flex-col items-center gap-1 text-center" href={link.href}>
									<span class="text-base font-bold leading-[19px]">{link.title}</span>
									<span class="english text-base leading-[19px] text-[#D7D7D7]">
										{link.subtitle}
									</span>
								</a>
							)
						})
					}
					<a
						class="focus-visible:dark-lime flex h-full items-center justify-center bg-lime px-6 text-center text-white hover:bg-dark-lime"
						href={LINEUrl}
					>
						<p class="text-base font-bold leading-[19px]">
							<span class="english text-[18px] leading-[21px]">LINE</span>で<br />問い合わせる
						</p>
					</a>
				</div>
			</div>
		</header>
		<main transition:animate="fade">
			<slot />
		</main>
		<footer class="flex flex-col items-center rounded-t-[60px] bg-peach pt-16 md:rounded-t-[150px]">
			<Icon class={'w-[178px] h-[169px]'} name="logo-footer" />
			<div class="mt-7 flex flex-col gap-[10px] text-base leading-[19px] md:mt-10 md:gap-[14px]">
				<span>富山県富山市小泉町44</span>
				<span>営業時間 9：00～18：00</span>
				<span>定休日 水曜日</span>
			</div>
			<div class="mt-16 flex items-center gap-8">
				<a class="text-base leading-[19px] hover:opacity-70 focus-visible:opacity-70" href="/studio"
					>スタジオ紹介</a
				>
				<a
					class="text-base leading-[19px] hover:opacity-70 focus-visible:opacity-70"
					href="/gallery">ギャラリー</a
				>
				<a class="text-base leading-[19px] hover:opacity-70 focus-visible:opacity-70" href="/column"
					>コラム</a
				>
			</div>
			<div class="mt-[54px] flex items-center gap-4">
				<a
					class="focus-within:opacity-70 hover:opacity-70"
					href="https://www.instagram.com/oathandours_wedding/"
					><Icon class="h-[36px] w-[36px]" name="instagram" /></a
				>
				<a
					class="focus-within:opacity-70 hover:opacity-70"
					href="https://www.tiktok.com/@toyamawedding?_t=8ntvNhHmF9d&_r=1"
					><Icon class="h-[36px] w-[36px]" name="tiktok" /></a
				>
				<a
					class="focus-within:opacity-70 hover:opacity-70"
					href="https://youtube.com/channel/UCMviVkDtzEHEGwGXMEqumDA?si=RAiZKMOdZGpCrhgY"
					><Icon class="h-[36px] w-[36px]" name="youtube" /></a
				>
			</div>
			<a
				href={LINEUrl}
				class="mt-4 inline-flex h-[58px] w-full items-center justify-center self-end text-nowrap rounded-md bg-lime px-8 text-base leading-[21px] text-white hover:bg-dark-lime focus-visible:bg-dark-lime sm:max-w-max"
				><span class="english font-semibold">LINE</span>{' '}<span>で問い合わせる</span></a
			>
		</footer>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-5CBNN4V6"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe></noscript
		>
		<!-- End Google Tag Manager (noscript) -->
	</body>
</html>
<script is:inline>
	document.addEventListener('astro:before-swap', (ev) => {
		if (document.location.pathname === ev.to.pathname) {
			localStorage.setItem('scrollPosition', window.scrollY.toString())
		}
	})

	document.addEventListener('astro:after-swap', () => {
		const scrollPosition = localStorage.getItem('scrollPosition')
		if (scrollPosition) {
			window.scrollTo({
				top: parseInt(scrollPosition, 10),
				behavior: 'instant'
			})
			localStorage.removeItem('scrollPosition')
		}
	})
</script>
