---
import '@fontsource/noto-serif-jp'
import '@fontsource/lato/100.css'
import '@fontsource/lato/300.css'
import '@fontsource/lato/400.css'
import '@fontsource/lato/700.css'
import '@fontsource/lato/900.css'
import '../styles/globals.css'
import { Icon } from 'astro-icon/components'
import NavbarDrawer from '../components/navbar-drawer'

interface Props {
	title: string
}

const { title } = Astro.props

const links = [
	{
		title: 'スタジオ紹介',
		subtitle: 'STUDIO',
		href: '/features'
	},
	{
		title: 'ギャラリー',
		subtitle: 'GALLERY',
		href: '/gallery'
	},
	{
		title: 'コラム',
		subtitle: 'COLUMN',
		href: '/column'
	}
]
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="flex h-20 w-full items-center justify-center">
			<div class="flex w-full items-center justify-between px-5 lg:hidden">
				<span class="bg-[#757575] px-[52px] py-5 text-xs leading-[14px] text-white">ロゴ</span>
				<NavbarDrawer client:load />
			</div>

			<div class="mx-auto hidden h-full w-full items-center justify-between page-container lg:flex">
				<a href="/" class="flex items-center gap-4">
					<Icon class="aspect-[100/24] h-auto w-[192px]" name="logo" />
					<p class="sr-only">Home page</p>
				</a>
				<div class="flex h-full items-center gap-[44px]">
					{
						links.map((link) => {
							return (
								<a class="flex flex-col items-center text-center" href={link.href}>
									<span class="text-base font-bold leading-[19px]">{link.title}</span>
									<span class="english text-base leading-[19px] text-[#D7D7D7]">
										{link.subtitle}
									</span>
								</a>
							)
						})
					}
					<a
						class="focus-visible:dark-lime flex h-full items-center justify-center bg-lime px-6 text-center text-white hover:bg-dark-lime"
						href="#"
					>
						<p class="text-base font-bold leading-[19px]">
							<span class="english text-[18px] leading-[21px]">LINE</span>で<br />問い合わせる
						</p>
					</a>
				</div>
			</div>
		</header>
		<main>
			<slot />
		</main>
		<footer class="flex flex-col items-center rounded-t-2xl bg-peach pt-16">
			<Icon class={'w-[178px] h-[169px]'} name="logo-footer" />
			<div class="mt-7 flex flex-col gap-[10px] text-base leading-[19px] md:mt-10 md:gap-[14px]">
				<span>富山県富山市小泉町44</span>
				<span>営業時間 9：00～18：00</span>
				<span>定休日 水曜日</span>
			</div>
			<div class="mt-16 flex items-center gap-8">
				<a
					class="text-base leading-[19px] hover:opacity-70 focus-visible:opacity-70"
					href="/features">スタジオ紹介</a
				>
				<a
					class="text-base leading-[19px] hover:opacity-70 focus-visible:opacity-70"
					href="/gallery">ギャラリー</a
				>
				<a class="text-base leading-[19px] hover:opacity-70 focus-visible:opacity-70" href="/column"
					>コラム</a
				>
			</div>
			<div class="mt-[54px] flex items-center gap-4">
				<a class="focus-within:opacity-70 hover:opacity-70" href="#"
					><Icon class="h-[36px] w-[36px]" name="instagram" /></a
				>
				<a class="focus-within:opacity-70 hover:opacity-70" href="#"
					><Icon class="h-[36px] w-[36px]" name="tiktok" /></a
				>
				<a class="focus-within:opacity-70 hover:opacity-70" href="#"
					><Icon class="h-[36px] w-[36px]" name="youtube" /></a
				>
			</div>
			<a
				href={'#'}
				class="mt-4 inline-flex h-[58px] w-full items-center justify-center self-end text-nowrap rounded-md bg-lime px-8 text-base leading-[21px] text-white sm:max-w-max"
				><span class="english font-semibold">LINE</span>{' '}<span>で問い合わせる</span></a
			>
		</footer>
	</body>
</html>
